@charset "UTF-8";
body{background-color: #FFF;color:#333;font: 14px/1.3em sans-serif;}

#document-sidebar{
	position: fixed;
	top:0;left: 0;bottom: 0;
	width:260px;
	overflow: auto;
	background-color: #EEE;
	border-right: solid 2px #DDD;
	padding:25px;
}
#document-content{
	margin-left:260px;
	padding:30px 40px;
}

h2{
	font-size: 26px;
}
h3{
	font-size: 20px;
	color:#29F;
}

h2,h3,h4,h5,h6,p{
	margin-bottom:15px;

	padding-top: 15px;
	line-height: 1.3em;
}
p{
	padding-top: 0;
}